<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Edit task #' + ${identificationType.id}"></title>
	
	
	<section th:fragment="content">
	
		<h3 class="my-margin-bottom-28">
			<em th:text="'Edit task #' + ${identificationType.id}"></em>
		</h3>
		
		
	    <form
	    	th:replace="
	    			~{
	    				/task/_form
	    				
	    				::
	    				
	    				form(
	    					@{/identification-types/{id}(id=${identificationType.id}, backToShow=${backToShow})},
	    					'patch',
	    					@{/identification-types{urlCompletion}(urlCompletion=${urlCompletion})}
	    				)
	    			}
	    		"
	    >
	    </form>
	
	</section>
	
</html>
