<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Subcategory #' + ${bookingService.id}"></title>
	
	
	<section th:fragment="content">
	
		<h3 class="my-margin-bottom-28">
			<em th:text="'Subcategory #' + ${bookingService.id}"></em>
		</h3>
		
		<table>
			<tr>
				<td>Price</td>
				<td th:text="${price}" class="text-justify"></td>
			</tr>
			<tr>
				<td>booking ID</td>
				<td th:text="${bookingId}" class="text-justify"></td>
			</tr>
			<tr>
				<td>service ID</td>
				<td th:text="${serviceId}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Room Types</td>
				<td th:text="${label}" class="text-justify"></td>
			</tr>
		</table>
		
		
		<div class="my-margin-top-19">
	
		    <a th:href="@{/booking-services}" class="btn btn-sm btn-light my-margin-right-19">
				<span class="my-margin-right-19">
					<i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
				</span>
				
		    	<span>Back to the list of Booking services</span>
		    </a>
	
	
		    <a
                th:href="@{/booking-services/{id}/edit(id=${bookingService.id}, backToShow=true)}"
		    	class="btn btn-sm btn-primary"
		    >
				<span class="my-margin-right-19">
					<i class="far fa-edit" aria-hidden="true"></i>
				</span>
				
		    	<span>Edit rooms #<span th:text="${bookingService.id}"></span></span>
		    </a>
		    
		</div>
	
	</section>
	
</html>