<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Subcategory #' + ${user.id}"></title>
	
	
	<section th:fragment="content">
	
		<h3 class="my-margin-bottom-28">
			<em th:text="'Subcategory #' + ${user.id}"></em>
		</h3>
		
		<table>
			<tr>
				<td>First Name</td>
				<td th:text="${firstName}" class="text-justify"></td>
			</tr>
			<tr>
				<td>Middle Name</td>
				<td th:text="${middleName}" class="text-justify"></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td th:text="${lastName}" class="text-justify"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td th:text="${address}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Email</td>
				<td th:text="${email}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Phone</td>
				<td th:text="${phone}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Create At</td>
				<td th:text="${createAt}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Update At</td>
				<td th:text="${updateAt}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Identification Number</td>
				<td th:text="${identificationNumber}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>User Types</td>
				<td th:text="${userType.label}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Countries</td>
				<td th:text="${country.label}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Identification Types</td>
				<td th:text="${identificationType.label}" class="text-justify"></td>
			</tr>
			
			
		</table>
		
		
		<div class="my-margin-top-19">
	
		    <a th:href="@{/users}" class="btn btn-sm btn-light my-margin-right-19">
				<span class="my-margin-right-19">
					<i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
				</span>
				
		    	<span>Back to the list of Users</span>
		    </a>
	
	
		    <a
                th:href="@{/users/{id}/edit(id=${user.id}, backToShow=true)}"
		    	class="btn btn-sm btn-primary"
		    >
				<span class="my-margin-right-19">
					<i class="far fa-edit" aria-hidden="true"></i>
				</span>
				
		    	<span>Edit users #<span th:text="${user.id}"></span></span>
		    </a>
		    
		</div>
	
	</section>
	
</html>