<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Task #' + ${userType.id}"></title>
	
	
	<section th:fragment="content">
	
		<h3 class="my-margin-bottom-28">
			<em th:text="'Task #' + ${userType.id}"></em>
		</h3>
		
		<table>
			<tr>
				<td>Label</td>
				<td th:text="${userType.label}" class="text-justify"></td>
			</tr>
			
		</table>
		
		
		<div class="my-margin-top-19">
	
		    <a th:href="@{/user-types}" th:class="'btn btn-sm btn-light'">
				<span class="my-margin-right-19">
					<i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
				</span>
				
		    	<span>Back to the list of tasks</span>
		    </a>
	
	
		    <a
		    	th:unless="${userType.label}"
                th:href="@{/user-types/{id}/edit(id=${userType.id}, backToShow=true)}"
		    	class="btn btn-sm btn-primary"
		    >
				<span class="my-margin-right-19">
					<i class="far fa-edit" aria-hidden="true"></i>
				</span>
				
		    	<span>Edit task #<span th:text="${userType.id}"></span></span>
		    </a>
		    
		</div>
	
	</section>
	
</html>