<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title">List of all the Books</title>
	
	
	<section th:fragment="content">
	
		<h3 class="my-margin-bottom-28">
			<em th:if="${user == null}">List of all Users</em>
			
			<em th:unless="${user == null}">
				Rooms of <b th:text="${user.label}"></b>
			</em>
		</h3>
		
		<h3 class="my-margin-bottom-28">
			<em th:if="${room == null}">List of all Rooms</em>
			
			<em th:unless="${room == null}">
				Rooms of <b th:text="${room.label}"></b>
			</em>
		</h3>
	
	
	    <a href="rooms/new" class="btn btn-sm btn-success my-margin-bottom-19">
			<span class="my-margin-right-19">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</span>
			
	    	<span>Create a new booking</span>
	    </a>
	
	
	    <div id="my-notice" class="my-no-line-height">
	        <span class="my-margin-right-19">
				<i aria-hidden="true"></i>
			</span>
			
	    	<span></span>
		</div>
		
       
       	<table>
	        <thead>
	            <tr>
	            	<th>Actions</th>
	                <th>#</th>
	                <th>Room_ID</th>
	                <th>User_ID</th>
	                <th>Check_in</th>
	                <th>Check_out</th>
	                <th>Quanlity_of_people</th>
	            </tr>
	        </thead>
	
	        <tbody>
	
                <tr th:each="booking : ${bookings}" th:attr="booking-id=${booking.id}">
                    <td>
                        
                       <!--  Show room -->
                        <a 	
                        	th:href="@{/bookings/{id}(id=${booking.id})}"
                        	class="btn btn-sm btn-light" 
                           	data-toggle="tooltip"
                           	title="Show subcategory"
                           	data-placement="bottom"
                        >
                        
                            <i class="far fa-eye" aria-hidden="true"></i>
                            
                        </a>
                        
                        
                       <!--  Edit subcategory -->
                        <a
                        	th:href="@{/bookings/{id}/edit(id=${booking.id})}"
                        	class="btn btn-sm btn-primary my-subcategory-to-edit" 
                           	data-toggle="tooltip"
                           	title="Edit subcategory"
                           	data-placement="bottom"
                        >
                        
                            <i class="far fa-edit" aria-hidden="true"></i>
                            
                        </a>
                           
                           
                       <!--  Delete subcategory -->
                        <button
                        	type="button"
                            class="btn btn-sm btn-danger my-subcategory-to-delete" 
                            th:value="${booking.id}"
                            data-toggle="tooltip" 
                            title="Delete subcategory" 
                            data-placement="bottom"
                        >
                            
                        	<i class="far fa-trash-alt" aria-hidden="true"></i>
                        
                        </button>

                    </td>
                    
                    <td th:text="${booking.id}"></td>
                    <td th:text="${booking.roomId}"></td>
                    <td th:text="${booking.userId}"></td>
                    <td th:text="${booking.checkIn}"></td>
                    <td th:text="${booking.checkOut}"></td>
                    <td th:text="${booking.quanlity}"></td>
                    <td th:text="${booking.rooms.id}"></td>
                    <td th:text="${booking.users.id}"></td>
                </tr>
	
	        </tbody>
	    </table>    
    
	</section>
	
</html>