<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Subcategory #' + ${booking.id}"></title>
	
	
	<section th:fragment="content">
	
		<h3 class="my-margin-bottom-28">
			<em th:text="'Subcategory #' + ${booking.id}"></em>
		</h3>
		
		<table>
			<tr>
				<td>User ID</td>
				<td th:text="${userId}" class="text-justify"></td>
			</tr>
			<tr>
				<td>Room ID</td>
				<td th:text="${roomId}" class="text-justify"></td>
			</tr>
			<tr>
				<td>Check in</td>
				<td th:text="${checkIn}" class="text-justify"></td>
			</tr>
			<tr>
				<td>Check out</td>
				<td th:text="${checkOut}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Quanlity</td>
				<td th:text="${quanlity}" class="text-justify"></td>
			</tr>
			
			<tr>
				<td>Room Types</td>
				<td th:text="${label}" class="text-justify"></td>
			</tr>
		</table>
		
		
		<div class="my-margin-top-19">
	
		    <a th:href="@{/bookings}" class="btn btn-sm btn-light my-margin-right-19">
				<span class="my-margin-right-19">
					<i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
				</span>
				
		    	<span>Back to the list of Bookings</span>
		    </a>
	
	
		    <a
                th:href="@{/bookings/{id}/edit(id=${booking.id}, backToShow=true)}"
		    	class="btn btn-sm btn-primary"
		    >
				<span class="my-margin-right-19">
					<i class="far fa-edit" aria-hidden="true"></i>
				</span>
				
		    	<span>Edit rooms #<span th:text="${booking.id}"></span></span>
		    </a>
		    
		</div>
	
	</section>
	
</html>